/* .App {
  text-align: center;
}
 */

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.gap{
  gap:1rem;
}

.space-between{
  justify-content: space-between;
}

.icons{
  font-size: 22px;
}

.btn-no-style{
  background-color: white;
  border: none;
  font-size: 20px;
}